.futer-adress-item:not(:last-child) {
    margin-bottom: 12px;
}

.footer-main-sub-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #ffffff;

}

.contact-futer-addres {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;
    color: #FFFFFF;

&:hover,
    &:focus,
    &:hover,
    &:focus {
        color: var(--hover_focus-color);
    }
}


