.work-list {

    display: flex;
    /* justify-content: center; */

}

.work-card {
    position: relative;
}

.about-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
}

.description-work-card {
    font-family: var(--primari-font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.work-card:not(:last-child) {
    margin-right: 30px;
}

.work-list-wrap {
    justify-content: center;


}


.name-img {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

}

.about-img {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color-studio);



}

.description-emploer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
}