:root {
    --primari-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-text-color-studio: #212121;
    --secondary-text-color-studio: #757575;
    --hover_focus-color: #2196F3;
    --section-secondary-color: #F5F4FA;
    --section-main-color: #2F303A;
}