
.social-list {
    display: flex;
    justify-content: center;
    margin-top: 16px;


}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
    &:focus {
        fill: #FFFFFF;
        background-color: var(--hover_focus-color);

    }
    }

.footer-social-list-subscription {
    display: flex;
}

.social-list-item:not(:last-child) {

    margin-right: 10px;
}


.footer-social-list {
    display: flex;
    justify-content: start;
    margin-top: 16px;
}


.footer-social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    fill: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover,
    &:focus {
        fill: #FFFFFF;
        background-color: var(--hover_focus-color);

    }
}

.social-list-item:not(:last-child) {

    margin-right: 10px;
}
.clients-icon {
    border: #AFB1B8 solid 1px;
    border-radius: 4px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:focus,
    &:hover {
        fill: var(--hover_focus-color);
        border: var(--hover_focus-color) solid 1px;

    }
    }



.clients-icon {
    fill: #AFB1B8;
}

.clients-icon-item:not(:last-child) {
    margin-right: 30px;
}

.clients-icon {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;

}



.footer {
    background-color: var(--section-main-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container-flex {
    display: flex;
    align-items: baseline;

}

.footer-contact {
    display: block;
}

.footer-sociale {
    display: block;
    margin-left: 70px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

}